.horizontalNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}

.landingLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.landingLinks > li > a,
.landingLinks > li > button {
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
  font: inherit;
  font-size: 1.1rem;
  line-height: inherit;
  color: white;
  transition: color 0.2s ease;
  cursor: pointer;
}

.landingLinks > li > a:hover,
.landingLinks > li > button:hover {
  color: var(--home-txt-3);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
