.one,
.two,
.three,
.four {
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: var(--global-border-radius);
  color: white;
  transition: 0.2s ease;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  cursor: pointer;
}

.one {
  background-color: var(--btn-1);
}

.one:hover {
  background-color: var(--btn-1-hover);
}

.two {
  background-color: var(--btn-2);
}

.two:hover {
  background-color: var(--btn-2-hover);
}

.three {
  background-color: var(--btn-3);
}

.three:hover {
  background-color: var(--btn-3-hover);
}

.four {
  box-shadow: inset 0 0 0 2px var(--btn-4);
  background-color: inherit;
  color: var(--btn-4-txt);
}

.four:hover {
  background-color: var(--btn-4-hover);
}

.edit,
.delete,
.exit {
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit:hover,
.delete:hover,
.exit:hover {
  cursor: pointer;
}

.edit {
  background-color: var(--page-btn-1);
}

.delete {
  background-color: var(--page-btn-2);
}

.exit {
  background-color: var(--exit-btn);
  color: white;
}
