.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--global-border-radius);
  z-index: 9999;
  background-color: var(--input-form);
  width: 75%;
  gap: 1rem;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    var(--input-form-gradient-1) 0%,
    var(--input-form-gradient-2) 100%
  );
  padding: 1rem 2rem;
  color: var(--input-form-title-txt);
  border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.inputRowsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0rem 2rem;
  gap: 1rem;
  padding-top: 2rem;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  color: green;
}

.overlay {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9998;
  background-color: var(--input-form-overlay);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.buttonContainer > button {
  padding: 1rem 4rem;
  font-size: 1rem;
}
