* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/* color variables */
:root {
  /* home page */
  --home-bg-grad-1: #131624;
  --home-bg-grad-2: #142132;
  --home-bg-grad-3: #000000;
  --home-txt-1: white;
  --home-txt-2: #aeaeae;
  --home-txt-3: #6dabff;

  /* login page */
  --login-bg: #202020;
  --login-txt-1: white;
  --login-txt-2: #bfbfbf;
  --login-txt-3: #909090;
  --login-btn-bg: #333333;

  /* general colors */
  /* buttons */
  --btn-1: #378afb;
  --btn-1-hover: #2c6fcb;
  --btn-2: #1f254a;
  --btn-2-hover: #28305f;
  --btn-3: #334673;
  --btn-3-hover: #3e558a;

  --page-btn-1: #e5f0ff;
  --page-btn-2: #ffe2e2;
  --exit-btn: #f44336;

  --nav-bg: #131624;
  --page-bg: #f5f5f5;
  --page-box-bg: white;
  --page-box-border: #d1d1d1;

  --page-txt-1: black;
  --page-txt-2: #5f5f5f;

  /* add more later */

  /* sizes */
  --global-border-radius: 10px;
}

/* Dark mode overrides */
.dark-theme {
}
