* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* scrollbar */
/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--page-box-border) var(--page-bg);
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--page-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--page-box-border);
  border-radius: var(--global-border-radius);
  border: 2px solid var(--page-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--page-txt-2);
}

/* color variables */
:root {
  /* ----- INVARIANT COLORS ----- */
  --btn-1: #378afb;
  --btn-1-hover: #2c6fcb;
  --btn-2: #1f254a;
  --btn-2-hover: #28305f;
  --btn-3: #334673;
  --btn-3-hover: #3e558a;
  --exit-btn: #f44336;
  --exit-btn-hover: #cf382d;
  --search-overlay: rgba(0, 0, 0, 0.4);
  --settings-input-bg: #666666;
  --input-form-gradient-1: #378afb;
  --input-form-gradient-2: #0b1c34;
  --input-form-title-txt: white;
  --input-form-input-placeholder-txt: #909090;

  /* home page */
  --home-bg-grad-1: #131624;
  --home-bg-grad-2: #142132;
  --home-bg-grad-3: #000000;
  --home-txt-1: white;
  --home-txt-2: #aeaeae;
  --home-txt-3: #6dabff;

  /* login page */
  --login-bg: #202020;
  --login-txt-1: white;
  --login-txt-2: #bfbfbf;
  --login-txt-3: #909090;
  --login-btn-bg: #333333;

  /* sizes */
  --global-border-radius: 10px;
  --title-font-size: 2rem;

  /* charts */
  --success-color: #82ca9d;
  --fail-color: #f87777;
  --warning-color: #f8b577;

  --settings-switch-bg: #dbdbdb;

  /* ----- THEME DEPENDENT COLORS ----- */
  --page-bg: #f5f5f5;
  --page-box-bg: white;
  --page-box-border: #d1d1d1;

  --btn-4: #d1d1d1;
  --btn-4-txt: #5f5f5f;
  --btn-4-hover: #d1d1d1;

  --page-txt-1: black;
  --page-txt-2: #5f5f5f;

  --popup-bg: white;
  --popup-hover: #d6e2f2;

  --input-form-overlay: rgba(0, 0, 0, 0.8);
  --nav-bg: #131624;

  /* add more later */
  --table-head-txt: #626262;

  /* projects page */
  --project-card: #eeeeee;
  --project-card-hover: #e6e6e6;
  --project-card-btn-hover: rgb(187, 187, 187, 0.5);
  --project-card-active: #d6e2f2;

  /* resume */
}

/* Dark mode overrides */
.dark-theme {
  --page-bg: #2a2a2a;
  --page-box-bg: #383838;
  --page-box-border: #6e6e6e;
  --page-txt-1: white;
  --page-txt-2: #c2c2c2;

  --popup-hover: #d6e2f24a;

  --btn-4: #5f5f5f;
  --btn-4-txt: #d1d1d1;
  --btn-4-hover: #5f5f5f;

  --settings-switch-bg: #383838;

  --input-form-overlay: rgba(0, 0, 0, 0.6);

  --table-head-txt: white;

  --project-card: #292929;
  --project-card-hover: rgba(187, 187, 187, 0.25);
  --project-card-btn-hover: rgba(187, 187, 187, 0.25);
  --project-card-active: rgba(187, 187, 187, 0.25);

  --nav-bg: rgb(9, 11, 21);
}
