.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2rem;
}

.formHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
  border-bottom: 2px solid var(--page-box-border);
}

.formTitle {
  margin: 0;
  font-size: 1.5rem;
  color: var(--page-txt-1);
}

.formSubtitle {
  margin: 0;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--page-txt-2);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.instructions {
  margin-top: 14;
  line-height: 2;
  color: var(--page-txt-1);
  font-size: 1rem;
}

.sendResetLink {
  background-color: var(--btn-1);
  border-radius: var(--global-border-radius);
  color: white;
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
}

.instructionList {
  padding-left: 1rem;
  margin: 0;
}

.noMargin {
  margin-bottom: 0 !important;
}
