.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--page-box-bg);
  color: var(--page-txt-1);
  border-radius: 0 0 var(--global-border-radius) var(--global-border-radius);
  border: 1.5px solid var(--page-box-border);
  padding: 0.5rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: inherit;
  color: var(--page-txt-1);
  border: none;
  width: 100%;
  padding: 0 0.75rem;
  transition: 0.2s ease;
  border-radius: var(--global-border-radius);
  text-decoration: none;
  font-size: 0.85rem;
}

.button:hover {
  background-color: var(--popup-hover);
  cursor: pointer;
}

.buttonName {
  font-weight: bold;
}
