/* Login Page */
.container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
  width: 100vw;
  position: relative; /* needed for z-index context */
}

.leftPanel {
  position: relative;
  z-index: 2;
  background-color: var(--login-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 var(--global-border-radius) var(--global-border-radius) 0;
  margin-right: -20px;
  padding-left: 17.5%;
  padding-right: 17.5%;
}

.rightPanel {
  position: relative;
  z-index: 1; /* behind leftPanel */
  overflow: hidden; /* clip image if needed */
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right center;
  z-index: 0;
}

.navWrapper {
  position: absolute;
  padding-top: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3; /* above both panels */
}

.titleLogoWrapper {
  position: absolute;
  bottom: 0;
  right: 4rem;
  z-index: 3;
}

.formTitle {
  color: var(--login-txt-1);
  margin: 0;
}

.formSubtitle {
  color: var(--login-txt-2);
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 3rem;
}

/* Login Form */
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.inputLabel {
  color: var(--login-txt-2);
  font-size: 0.8rem;
}

.dividerContainer {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--login-txt-2);
  border-radius: var(--global-border-radius);
}

.otherContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.otherContent > p {
  margin: 0;
  color: var(--login-txt-3);
  font-size: 0.8rem;
}

.otherContent > a {
  text-decoration: none;
  color: var(--btn-1);
  margin-top: 1rem;
  font-size: 0.8rem;
}

.otherContent > a:hover {
  text-decoration: underline;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
}

.formFooterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  gap: 1rem;
}
